@charset "UTF-8";
/*********************
COLORS
*********************/
/*********************
BREAKPOINTS
*********************/
/****************************************/
body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px; }
  @media only screen and (max-width: 860px) {
    .wrapper {
      padding: 0; } }

.clearfix:after, .banner:after, .features:after, .devices:after {
  content: "";
  display: table;
  clear: both; }

/*********************
HEADER
*********************/
.header--background {
  background: url("../../images/bg-img.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 100px; }
  @media only screen and (max-width: 860px) {
    .header--background {
      background: none;
      padding-bottom: 0; } }

.logo {
  display: inline-block; }
  @media only screen and (max-width: 860px) {
    .logo {
      background-color: #464646;
      background-image: linear-gradient(to top, #464646, #636363);
      position: fixed;
      top: 0;
      left: 0;
      width: 25%;
      height: 60px;
      z-index: 10; } }
  @media only screen and (max-width: 460px) {
    .logo {
      height: 49px; } }
  .logo--text-big {
    font-style: italic;
    word-wrap: break-word;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    display: block; }
    @media only screen and (max-width: 860px) {
      .logo--text-big {
        margin-top: 4px;
        font-size: 22px; } }
    @media only screen and (max-width: 650px) {
      .logo--text-big {
        margin-top: 6px;
        font-size: 15px; } }
    @media only screen and (max-width: 460px) {
      .logo--text-big {
        margin-top: 4px;
        font-size: 13px;
        white-space: nowrap; } }
    .logo--text-big::before {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      margin: 10px 5px;
      padding: 6px;
      content: "";
      background: url(../../images/logo.png) no-repeat 0 0;
      background-size: 100%; }
      @media only screen and (max-width: 860px) {
        .logo--text-big::before {
          width: 22px;
          height: 22px; } }
      @media only screen and (max-width: 650px) {
        .logo--text-big::before {
          width: 15px;
          height: 15px; } }
      @media only screen and (max-width: 460px) {
        .logo--text-big::before {
          width: 13px;
          height: 13px; } }
  .logo--text-small {
    color: #8c837c;
    font-size: 12px;
    display: inline; }
    @media only screen and (max-width: 1024px) {
      .logo--text-small {
        display: none; } }

.menu-navbar {
  margin-top: 40px;
  float: right; }

.navbar {
  list-style: none;
  background: #f5c506;
  display: flex;
  box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5), -10px -10px 0 rgba(245, 197, 6, 0.5); }
  .navbar li:nth-child(2) {
    border-left: 1px solid #b99403;
    border-right: 1px solid #b99403; }
  @media only screen and (max-width: 860px) {
    .navbar {
      position: fixed;
      top: 0;
      right: 0;
      box-shadow: 0 0 0;
      z-index: 10;
      width: 75%; } }
  @media only screen and (max-width: 860px) {
    .navbar--item {
      width: 33%;
      white-space: nowrap; } }
  .navbar--item-link {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: #b99403;
    display: block;
    padding: 0.5em;
    width: 140px; }
    @media only screen and (max-width: 860px) {
      .navbar--item-link {
        padding: 21px 10px;
        width: 100%; } }
    @media only screen and (max-width: 650px) {
      .navbar--item-link {
        font-size: 14px;
        padding: 23px 0; } }
    @media only screen and (max-width: 460px) {
      .navbar--item-link {
        font-size: 13px;
        padding: 18px 0; } }
    .navbar--item-link:hover {
      background: #dcb105; }

.banner {
  margin-top: 49px; }
  .banner--video {
    float: left;
    margin-right: 30px;
    width: 55%;
    max-height: 100%; }
    @media only screen and (max-width: 1024px) {
      .banner--video {
        width: 45%; } }
    @media only screen and (max-width: 860px) {
      .banner--video {
        width: 100%; } }
  .banner--title {
    display: inline-block;
    margin: 100px 0;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    line-height: 110%; }
    .banner--title h3:nth-child(1) {
      color: #f5c506; }
    .banner--title h3:nth-child(2) {
      color: #fff; }
    @media only screen and (max-width: 1024px) {
      .banner--title {
        margin: 50px 0; } }
    @media only screen and (max-width: 860px) {
      .banner--title {
        display: none; } }

/*********************
FEATURES
*********************/
@media only screen and (max-width: 860px) {
  .features {
    margin-top: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); } }
.features--container {
  background-color: #f2f2f2;
  background-image: linear-gradient(45deg, transparent, transparent 48%, rgba(227, 227, 227, 0.3) 48%, rgba(227, 227, 227, 0.3) 52%, transparent 52%);
  background-size: 6px 6px; }
.features--list {
  text-transform: uppercase; }
  .features--list li:nth-child(1) {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
    @media only screen and (max-width: 860px) {
      .features--list li:nth-child(1) {
        border: none; } }
  .features--list li:nth-child(3) {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
    @media only screen and (max-width: 860px) {
      .features--list li:nth-child(3) {
        border: none; } }
.features--list-item {
  padding: 30px;
  font-size: 25px;
  text-align: center;
  width: 33%;
  margin: 0 auto;
  float: left;
  color: #f5c506; }
.features--title {
  text-decoration: none;
  line-height: 140%;
  color: black;
  display: block; }
  @media only screen and (max-width: 860px) {
    .features--title {
      font-size: 20px; } }
  @media only screen and (max-width: 650px) {
    .features--title {
      font-size: 15px; } }

/*********************
PRESENTATION
*********************/
.presentation {
  background: url(../../images/bg-img-fragment.jpg);
  padding-bottom: 120px; }
  @media only screen and (max-width: 860px) {
    .presentation {
      background: none;
      padding: 0; } }
  .presentation--title {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    padding: 30px 0; }
    @media only screen and (max-width: 860px) {
      .presentation--title {
        display: none; } }
  .presentation--text {
    position: relative;
    background: #ec9e03;
    height: 230px;
    padding: 20px 30px;
    max-width: 320px;
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 130%;
    display: inline-block; }
    @media only screen and (max-width: 860px) {
      .presentation--text {
        margin-right: 1%;
        max-width: 49%;
        font-size: 28px; } }
    @media only screen and (max-width: 650px) {
      .presentation--text {
        font-size: 20px; } }
  .presentation--add {
    position: absolute;
    bottom: 20px;
    right: 340px;
    font-size: 25px;
    color: #f9e2b4; }
    @media only screen and (max-width: 1080px) {
      .presentation--add {
        left: 300px; } }
    @media only screen and (max-width: 650px) {
      .presentation--add {
        left: 150px; } }
  .presentation--content {
    position: relative;
    float: left; }
    @media only screen and (max-width: 1080px) {
      .presentation--content {
        width: 700px;
        margin: 0 auto;
        float: none; } }
    @media only screen and (max-width: 860px) {
      .presentation--content {
        width: 96%;
        margin: 2%; } }
  .presentation--video {
    height: 230px; }
    @media only screen and (max-width: 860px) {
      .presentation--video {
        margin-left: 1%;
        width: 49%; } }

.tweet {
  display: inline-block;
  position: relative; }
  @media only screen and (max-width: 1080px) {
    .tweet {
      display: block;
      width: 400px;
      margin: 30px auto 0; } }
  @media only screen and (max-width: 860px) {
    .tweet {
      font-size: 12px;
      margin: 0;
      width: 100%; } }
  .tweet--logo {
    margin-left: 30px;
    background: #ec9e03;
    padding: 20px 80px;
    width: 100%;
    color: #c18000;
    font-size: 12em; }
    @media only screen and (max-width: 860px) {
      .tweet--logo {
        background: #f5c506;
        text-align: center;
        margin: 0; } }
  .tweet--count {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 25px;
    color: #f9e2b4; }
    @media only screen and (max-width: 860px) {
      .tweet--count {
        display: none; } }
  .tweet--add {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 25px;
    color: #f9e2b4; }
    @media only screen and (max-width: 860px) {
      .tweet--add {
        display: none; } }

/*********************
DEVICES
*********************/
.devices {
  background: url(../../images/bg-img-fragment2.png);
  background-color: #4c4c4c;
  padding: 0 20px; }
  @media only screen and (max-width: 860px) {
    .devices {
      background-image: none; } }
  @media only screen and (max-width: 1080px) {
    .devices--container {
      width: 60%;
      margin: 0 auto; } }
  .devices--title {
    color: #f5c506;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 30px 0; }
  .devices--label {
    margin: 20px auto;
    position: relative;
    display: inline-block;
    float: left; }
  .devices--img {
    max-width: 100%;
    height: auto; }
  .devices--img-free {
    position: absolute;
    top: -40px;
    left: -20px;
    height: 115px;
    width: 115px;
    line-height: 115px;
    border-radius: 50%;
    background-color: #f5c506;
    color: white;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase; }
    @media only screen and (max-width: 860px) {
      .devices--img-free {
        height: 80px;
        width: 80px;
        font-size: 10px;
        line-height: 80px; } }
  .devices--list {
    min-width: 400px;
    padding: 50px 60px;
    display: table-cell;
    font-size: 25px;
    color: #a4a4a2;
    line-height: 180%; }
    @media only screen and (max-width: 860px) {
      .devices--list {
        display: none; } }
    .devices--list li {
      position: relative;
      padding-left: 30px; }
    .devices--list li::before {
      content: "·";
      color: #f5c506;
      font-size: 130px;
      vertical-align: middle;
      line-height: 20px;
      position: absolute;
      left: -10px;
      top: 13px; }

/*********************
FOOTER
*********************/
footer {
  background-color: #4c4c4c; }

.footer--logo {
  font-style: italic;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  border-top: 1px solid black;
  box-shadow: 0px -4px 3px #323232; }
  @media only screen and (max-width: 860px) {
    .footer--logo {
      font-size: 20px; } }
  .footer--logo::before {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    margin: 10px 5px;
    padding: 6px;
    content: "";
    background: url(../../images/logo.png) no-repeat 0 0;
    background-size: 100%; }
    @media only screen and (max-width: 860px) {
      .footer--logo::before {
        width: 35px;
        height: 35px; } }
