@charset "UTF-8";
/*********************
BREAKPOINTS
*********************/
/****************************************/
body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px; }

.clearfix:after, .logo:after, .banner:after, .features:after, .devices:after {
  content: "";
  display: table;
  clear: both; }

.header--background {
  background: url("../../images/bg-img.jpg") no-repeat;
  height: 565px;
  background-size: cover; }
  .header--background:after {
    content: "";
    display: table;
    clear: both; }

.logo {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .logo {
      max-width: 40%; } }
  .logo--text-big {
    word-wrap: break-word;
    display: block;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    text-transform: uppercase; }
    .logo--text-big::before {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      margin: 10px 5px;
      padding: 6px;
      content: "";
      background: url(/images/logo.png) no-repeat 0 0;
      background-size: 100%; }
  .logo--text-small {
    color: #8c837c;
    font-size: 12px;
    display: inline; }

.menu-navbar {
  margin-top: 40px;
  float: right; }

.navbar {
  list-style: none;
  background: #f5c506;
  display: flex;
  /*
  
  
    position: fixed;
  top: 0;
  right: 0;
  width:100%;
  height:50px;
  
  */
  box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5), -10px -10px 0 rgba(245, 197, 6, 0.5); }
  .navbar li:nth-child(2) {
    border-left: 1px solid #b99403;
    border-right: 1px solid #b99403; }
  .navbar--item-link {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: #b99403;
    display: block;
    padding: 0.5em;
    width: 140px; }
    .navbar--item-link:hover {
      background: #dcb105; }

.banner {
  margin-top: 50px; }
  .banner--video {
    float: left;
    margin-right: 30px; }
  .banner--title {
    display: inline-block;
    margin: 100px 0;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    line-height: 110%; }
    .banner--title h3:nth-child(1) {
      color: #f5c506; }
    .banner--title h3:nth-child(2) {
      color: #fff; }

.features--container {
  background-color: #f2f2f2;
  background-image: linear-gradient(45deg, transparent, transparent 48%, rgba(227, 227, 227, 0.3) 48%, rgba(227, 227, 227, 0.3) 52%, transparent 52%);
  background-size: 6px 6px; }
.features--list {
  text-transform: uppercase; }
  .features--list li:nth-child(1) {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
  .features--list li:nth-child(3) {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
.features--list-item {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  width: 33%;
  margin: 0 auto;
  float: left;
  color: #f5c506; }
.features--title {
  text-decoration: none;
  line-height: 140%;
  color: black;
  display: block; }

/* ================================================ */
.presentation {
  background: url(/images/bg-img-fragment.jpg);
  padding-bottom: 120px; }
  .presentation--title {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    padding: 30px 0; }
  .presentation--text {
    background: #ec9e03;
    height: 230px;
    padding: 20px 30px;
    width: 320px;
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 130%; }
  .presentation--add {
    position: absolute;
    bottom: 20px;
    right: 340px;
    font-size: 25px;
    color: #f9e2b4; }
  .presentation--content {
    position: relative;
    float: left;
    display: inline-block; }

.tweet {
  display: inline-block;
  position: relative; }
  .tweet--logo {
    margin-left: 30px;
    background: #ec9e03;
    padding: 20px 80px;
    color: #c18000;
    font-size: 12em; }
  .tweet--count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: #f9e2b4; }
  .tweet--add {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    color: #f9e2b4; }

.devices {
  background: url(/images/bg-img-fragment2.png);
  background-color: #4c4c4c;
  padding: 0 20px 20px 120px; }
  .devices--title {
    color: #f5c506;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 30px 0; }
  .devices--container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 20px 0; }
  .devices--img {
    max-width: 100%;
    height: auto; }
  .devices--img-free {
    position: absolute;
    top: -40px;
    left: -20px;
    height: 115px;
    width: 115px;
    line-height: 115px;
    border-radius: 50%;
    background-color: #f5c506;
    color: white;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase; }
  .devices--list {
    padding: 50px 60px;
    display: table-cell;
    font-size: 25px;
    color: #a4a4a2;
    line-height: 180%; }
    .devices--list li {
      position: relative;
      padding-left: 30px; }
    .devices--list li::before {
      content: "·";
      color: #f5c506;
      font-size: 130px;
      vertical-align: middle;
      line-height: 20px;
      position: absolute;
      left: -10px;
      top: 13px; }

footer {
  background-color: #4c4c4c; }

.footer--logo {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  border-top: 1px solid black;
  box-shadow: 0px -4px 3px #323232; }
  .footer--logo::before {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    margin: 10px 5px;
    padding: 6px;
    content: "";
    background: url(/images/logo.png) no-repeat 0 0;
    background-size: 100%; }
