$cred-color: #8c837c;
$primary-color: #f5c506;

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == large {
     @media only screen and (max-width: 1024px) { @content ; }
  }
   @else if $point == medium {
     @media only screen and (max-width: 640px) { @content ; }
  }
    @else if $point == small {
     @media only screen and (max-width: 480px) { @content ; }
  }
}

/****************************************/

body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.header--background {
  //background-color: #464646;
  //background-image: linear-gradient( to top, #464646, #636363);
  //@include breakpoint(medium) {
    background: url('../../images/bg-img.jpg') no-repeat;
    height: 565px;
    background-size: cover;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  //}
}

.logo {
  display: inline-block;
  @include breakpoint(large) {
    max-width: 40%;
  }
  &--text-big {
    word-wrap:break-word;
    display: block;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    &::before {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 70px;
      margin: 10px 5px;
      padding: 6px;
      content: "";
      background: url(/images/logo.png) no-repeat 0 0;
      background-size: 100%;
    }
  }
  &--text-small {
    //display: none;
    //@include breakpoint(medium) {
      color: $cred-color;
      font-size: 12px;
      display: inline;
    //}
  }
  @extend .clearfix;
}

.menu-navbar {
  margin-top: 40px;
  float: right;
}

.navbar {
  list-style: none;
  background: #f5c506;
  display: flex;

  
  /*
  
  
    position: fixed;
  top: 0;
  right: 0;
  width:100%;
  height:50px;
  
  */

  //@include breakpoint(medium) {
    box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5),
      -10px -10px 0 rgba(245, 197, 6, 0.5);
  //}
  li:nth-child(2) {
   border-left: 1px solid #b99403;
   border-right:  1px solid #b99403;
  }
  &--item-link {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: #b99403;
    display: block;
    padding: 0.5em;
    width: 140px;
    &:hover {
      background: darken(#f5c506, 5%);
    }
  }
}


.banner {
  margin-top: 50px;
  @extend .clearfix;
  &--video {
    float: left;
    margin-right: 30px;
  }
  &--title {
    //display: none;
    //@include breakpoint(medium) {
      display: inline-block;
      margin: 100px 0;
      font-size: 55px;
      text-transform: uppercase;
      text-align: center;
      line-height: 110%;
      h3:nth-child(1) {
        color: #f5c506;
      }
      h3:nth-child(2) {
        color: #fff;
      }
    }
  //}
}

.features {
  &--container {
    background-color: #f2f2f2;
    background-image: linear-gradient(45deg, transparent,transparent 48%, rgba(#e3e3e3,.3) 48%, rgba(#e3e3e3,.3) 52%, transparent 52%);
    background-size: 6px 6px;
  }
  &--list {
    text-transform: uppercase;
    li:nth-child(1) {
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
    }
    li:nth-child(3) {
      border-left: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
    }
  }
  &--list-item {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    width: 33%;
    margin: 0 auto;
    float: left;
    color: $primary-color;
  }
  &--title {
    text-decoration: none;
    line-height: 140%;
    color: black;
    display: block;
  }
  @extend .clearfix;
}



/* ================================================ */

.presentation {
  background: url(/images/bg-img-fragment.jpg);
  padding-bottom: 120px;
  &--title {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    padding: 30px 0;
  }
  &--text {
    background: #ec9e03;
    height: 230px;
    padding: 20px 30px;
    width: 320px;
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 130%;
  }
  &--add {
    position: absolute;
    bottom: 20px;
    right: 340px;
    font-size: 25px;
    color: #f9e2b4;
  }
  &--content {
    position: relative;
    float: left;
    display: inline-block;
  }
}

.tweet {
  display: inline-block;
  position: relative;
  &--logo {
    margin-left: 30px;
    background: #ec9e03;
    padding: 20px 80px;
    color: #c18000;
    font-size: 12em;
  }
  &--count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: #f9e2b4;
  }
  &--add {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    color: #f9e2b4;
  }
}

.devices {
  background: url(/images/bg-img-fragment2.png);
  background-color: #4c4c4c;
  padding: 0 20px 20px 120px;
  &--title {
    color: #f5c506;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
  }
  &--container {
    position: relative;
    display: inline-block;
    float: left;
    margin: 20px 0;
  }
  &--img {
    max-width: 100%;
    height: auto;
  }
  &--img-free {
    position: absolute;
    top: -40px;
    left: -20px;
    height: 115px;
    width: 115px;
    line-height: 115px;
    border-radius: 50%;
    background-color: #f5c506;
    color: white;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
  }
  &--list {
    padding: 50px 60px;
    display: table-cell;
    font-size: 25px;
    color: #a4a4a2;
    line-height: 180%;
    li {
      position: relative;
      padding-left: 30px;
    }
    li::before {
      content:"·";
      color: #f5c506;
      font-size: 130px;
      vertical-align: middle;
      line-height: 20px;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
  @extend .clearfix;
}


footer {
  background-color: #4c4c4c;
}

.footer {
  &--logo {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    border-top: 1px solid black;
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 1);
    &::before {
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 45px;
      margin: 10px 5px;
      padding: 6px;
      content: "";
      background: url(/images/logo.png) no-repeat 0 0;
      background-size: 100%;
    }
  }
}
